body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

#calculator {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	font-size: 24px;
	overflow: hidden;
	border-radius: 8px;
	border: 8px solid black;
	box-shadow: 0 10px 40px rgba(0, 0, 0, .25);
}

#calculator > div {
	border: 1px solid black;
}

.display {
	background-color: black;
	color: white;
	text-align: right;
	padding: 24px;
	grid-column: 1 / 5;
	grid-row: 1;
}

.inputButton {
	background-color: #e2e2e2;
	color: black;
	text-align: center;
	padding: 24px;
	cursor: pointer;
}

.inputButton:hover {
	background-color: #b3b3b3;
}

.operatorButton {
	background-color: #ed9a00;
	color: white;
	text-align: center;
	padding: 24px;
	cursor: pointer;
}

.operatorButton:hover {
	background-color: #c27f04;
}

.clear {
	grid-column: 1 / 3;
}

.zero {
	grid-column: 1 / 4;
}
