table, th, td {
  border: 1px solid black;
}

.transition-btn {
  font-size: 8px;
  padding: 16px 32px;
  background-color: beige;
  color: red;
  
  /* transition: all 1s linear; */
  /* animation: fade 2s ease-in-out infinite; */
}

.transition-btn:hover {
  transition: all .2s ease-in-out;
  background-color: blueviolet;
  color: white;
}

@media screen and (min-width: 480px) {
  .transition-btn {
    font-size: 14px;
  }
}

@keyframes fade {
  0% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(1999deg)
  }

  100% {
    transform: rotate(0deg);
  }
}